
    body{ 
        background-image: url('background3.jpg');
        font-family: 'Times New Roman', Times, serif;  
    }  
    input[type="text"] { 
        color:blue;
        width: 250px;  
    } 
    input[type="textarea"] { 
        color:blue;
        width: 250px;  
    } 
    input[type="text1"] { 
        color:blue;
        width: 250px;  
    } 
    input[type="submit"], input[type="reset"] {  
        width: 77px;  
        height: 27px;  
        position: relative;left: 180px;
        color: red;  
    }  
    form{  
        text-align: center;  
        font-family: 'Times New Roman', Times, serif;  
        font-size: 20px;  
        border: 3px solid black;  
        width: 600px;  
        margin: 20px auto;  
    }  
    td {  
        padding: 10px;  
    }  
    td:first-child {  
        text-align: right;  
        font-weight: bold;  
    }  
    td:last-child {  
        text-align: left;  
    }
    h1 {
        color: blue;
    }
    h2 {
        color: blue;
    }
    table {
        color: rgb(255, 0, 21);
    }
    #sub:hover{
        background-color: rgb(9, 255, 0);  
    }
    #res:hover{
        background-color: rgb(9, 255, 0);  
    }
    ::placeholder{
        color: blue;
    }
    #start{
     color:blue;
    }
    #lan1{
        color:blue;
       }
       #lan2{
        color:blue;
       }
       #lan3{
        color:blue;
       }
       #lan4{
        color:blue;
       }
       #lan5{
        color:blue;
       }
    